

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  /* background-image: url(background.png); */
  /* background-size: cover; */
  /* height: 120vh; */
  /* background: opacity(0.1); */
  background-color: rgba(255, 255, 255, 0.001);
  /* opacity: 0.4; */
}

* {
  box-sizing: border-box;
}

/* Button used to open the contact form - fixed at the bottom of the page */

#addemp{
  text-decoration: none;
  color: #fff;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
h1 {
  margin: 0;
  font-size: 36px;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
}
article {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  margin: 20px;
  padding: 40px;
  text-align: center;
  width: 500px;
}
p {
  margin: 20px 0;
  font-size: 20px;
}
button {
  width: 280px;
  height: 60px;
  background: linear-gradient(#1392a59a, #ff660053);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 20px;
  margin-top: 20px;
  transition: 0.5s;
  margin-left: 20px;
}
button:hover {
  /* background: linear-gradient(#ff66004e, #00008b ); */
}


/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  text-align: center;
  bottom: 0;
  right: 40px;
  max-width: 340px;
  border: 3px solid #f1f1f1;
  background-color:white;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 340px;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 85%;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-self: center;
  text-align: center;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 85%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.header-button1 {
  height: 40px;
  width: 140px;
  margin-top: -8px;
  background-color: rgba(0, 136, 169, 1) !important;

}

.header-logo {
  width: 70px;
  height: 60px;
}
.open-button {
  background:none;
  
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  /* position: fixed;*/
  bottom: 23px;
  right: 28px;
  width: 600px;
  font-weight: 600;
  margin-top: 3px;
  font-size: 30px;
  color: rgb(0, 217, 255);
}

.img {
  position: absolute;
  width: 400px;
  height: 400px;
  right: 60px;
  top: 150px;
  display: inline-block;
  background-image: url(graph\ \(4\).png); 
  background-size: cover;
}

@media (max-width: 980px) {
    .img {
      display: none;
    }
}